{% extends 'usuarios/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <h3>Hello my friend {{user.username}}</h3>
{% else %}
    <p>Você precisa realiar o login</p>
{% endif %}
<main>
    <!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
    </head>
    <body>
        <br>
        <center><h1>Faça Seu Cadastro</h1></center>
        <div class="col-md-5 order-md-1">
            <a class="navbar-brand" href="{% url 'create_user' %}">
                <button> Cadastrar</button>
            </a>            
        </div>
        <div class="col-md-5 order-md-1">
            <a class="navbar-brand" href="{% url 'listar_agenda' %}">
                <button> Listar Agendas </button>
            </a>            
        </div>
    </body>
    </html>
</main>



{% endblock %}